<section class="page-prod-geral">
  <div class="page-width page-prod-geral__inner">
    <h1>Página de Produtos Geral VF</h1>
  </div>
</section>

{% schema %}
{
  "name": "Produtos Geral VF",
  "settings": []
}
{% endschema %}
