<section class="product-hero">
  <div class="product-hero__bg">
    <img src="{{ 'a6fd3bca08ab5825088a72a6abf3b36e70d33c77.jpg' | asset_url }}" alt="" loading="lazy">
  </div>
  <div class="product-hero__content">
    <h2>Tudo o que precisa para bricolage,<br /> construção e jardim - num só lugar</h2>
    <p>Na GlobalBrico, encontra uma loja online completa com milhares<br /> de produtos de bricolage, construção, ferramentas, tintas,<br /> eletricidade, canalização e jardinagem.</p>
  </div>
</section>

{% schema %}
{
  "name": "Produto Hero",
  "settings": []
}
{% endschema %}
